@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #1f7d53;
  --color-secondary: #17b794;
  --color-tertiary: #18230f;
  --color-background: #1a1a1d;
}
